<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>사용자</title>
    <%- include('../partials/head'); %>
    
</head>
<body>
    <div class="content">
        <%- include('../partials/nav'); %>

        <div class="container mb-3">

            <h3 class="mb-3">Edit User</h3>
      
            <form action="/user/edit/<%= data.id %>?_method=put" method="post">
      
              <div class="form-group row">
                <label for="currentPassword" class="col-sm-3 col-form-label">Current Password*</label>
                <div class="col-sm-9 col-sm-offset-3">
                  <input type="password" id="currentPassword" name="currentPassword" value="<%= (errors.currentPw)?'':inputData.currentPassword %>" class="form-control <%= (errors.currentPw)?'is-invalid':'' %>" required>
                  <% if(errors.currentPw){ %>
                    <span class="invalid-feedback"><%= errors.currentPw %></span>
                  <% } %>
                </div>
              </div>
      
              <hr></hr>

              <fieldset disabled>
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Id</label>
                    <div class="col-sm-9">
                      <input type="text" id="id" name="id" value="<%= data.id %>" class="form-control" required>
                    </div>
                  </div>
              </fieldset>
              
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" id="name" name="name" value="<%= data.name %>" class="form-control <%= (errors.name)?'is-invalid':'' %>" required>
                  <span class="<%= (errors.name)?'invalid-feedback':'' %>">닉네임은 4-12자여야 합니다.</span>
                </div>
              </div>
      
      
              <div class="form-group row">
                <label for="newPassword" class="col-sm-3 col-form-label">New Password</label>
                <div class="col-sm-9 col-sm-offset-3">
                  <input type="password" id="newPassword" name="newPassword" value="<%= (errors.pw)?'':inputData.newPassword %>" class="form-control <%= (errors.pw)?'is-invalid':'' %>" required>
                  <span class="<%= (errors.pw)?'invalid-feedback':'' %>">비밀번호는 숫자와 영문자가 포함되고 4-12자여야 합니다</span>
                </div>
              </div>
      
              <div class="form-group row">
                <label for="passwordConfirmation" class="col-sm-3 col-form-label">Password Confirmation</label>
                <div class="col-sm-9 col-sm-offset-3">
                  <input type="password" id="passwordConfirmation" name="passwordConfirmation" value="<%= (errors.pw || errors.pwComfirm)?'':inputData.passwordConfirmation %>" class="form-control <%= (errors.pwComfirm)?'is-invalid':'' %>" required>
                  <% if(errors.pwComfirm){ %>
                    <span class="invalid-feedback"><%= errors.pwComfirm %></span>
                  <% } %>
                </div>
              </div>
      
              <div class="buttons">
                <a class="btn btn-primary" href="/users/<%= data.id %>">Back</a>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
    
            </form>
      
        </div>
    </div>
</body>
</html>