<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>로그인</title>
    <%- include('../partials/head'); %>
    
</head>
<body>
    <div class="content">
        <%- include('../partials/nav'); %>

        <div class="container mb-3">

            <h3 class="contentBoxTop mb-3">Login</h3>

            <form method="post">
                <div class="form-group">
                    <label for="id" class="col-form-label">아이디</label>
                    <div>
                        <input type="text" id="id" name="id" value="<%= id %>" class="form-control <%= (errors.id)?'is-invalid':'' %>">
                        <% if(errors.id){ %>
                          <span class="invalid-feedback"><%= errors.id %></span>
                        <% } %>
                      </div>
                </div>
  
                <div class="form-group">
                    <label for="password" class="col-form-label">비밀번호</label>
                    <div>
                        <input type="password" id="password" name="password" value="" class="form-control <%= (errors.password)?'is-invalid':'' %>">
                        <% if(errors.password){ %>
                          <span class="invalid-feedback"><%= errors.password %></span>
                        <% } %>
                      </div>
                </div>

                <% if(errors.login){ %>
                    <div class="invalid-feedback d-block"><%= errors.login %></div>
                <% } %>
        
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/register" class="text-muted">회원가입</a>
                    </div>
                    
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>