<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>게시판</title>
    <%- include('../partials/head'); %>
    
    <style>
        body{
            margin: 0;
        }
        nav{
            margin-bottom: 10px;
        }

        .content{
            margin: 0 auto;
            overflow: hidden;
            box-shadow: 0 0 8px rgb(0, 0, 0, 0.5)
        }

        table{
            text-align: center;
        }
        .wr_num{
            width: 50px;
        }
        .wr_title{
            text-align: left;
        }
        .wr_name{
            width: 100px;
        }
        .wr_wd{
            width: 100px;
        }
        .wr_rc{
            width: 50px;
        }

        .bottom_button{
            margin: 15px 0;
        }
        .bottom_button::after {
            content: "";
            clear: both;
            display: table;
        }
        .creat_post_btn{
            background-color: #f44336;
            color: white;
            padding: 7px 10px;
            font-size: 12px;
            float: right;
        }
        .creat_post_btn:link, .creat_post_btn:visited{
            color: white;
        }

    </style>

    <script>
        $(document).ready(function(){
            $('.navbar-nav').eq(0).children().each(function(){
                // console.log($(this).text());
                $(this).toggleClass('active');
            })
        });
    </script>
</head>
<body>
    <div class="content">
        <%- include('../partials/nav'); %>

        <div class="container mb-3">
            <h2 class="mb-3">Board</h2>

            <table class="table table-hover table-sm board-bottom">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="wr_num">번호</th>
                        <th scope="col" class="wr_title">제목</th>
                        <th scope="col" class="wr_name">이름</th>
                        <th scope="col" class="wr_wd">날짜</th>
                        <th scope="col" class="wr_rc">조회</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% data.forEach(function (item, index){ %>
                        <tr>
                            <td scope="row" class="wr_num"><%= item.num %></td>
                            <td class="wr_title"><a href="/board/<%= item.num %>"><%= item.title %></a></td>
                            <td class="wr_name"><%= item.name %></td>
                            <td class="wr_wd"><%= item.wd %></td>
                            <td class="wr_rc">
                                <% if (item.readcount > 9) { %>
                                    9+
                                <% }else{ %>
                                    <%= item.readcount %>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

            <div class="bottom_button">
                <a href="/board/creating_post" class="creat_post_btn" role="button">글 작성</a>
            </div>
        </div>
    </div>

</body>
</html>