<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>게시판</title>
    <%- include('../partials/head'); %>
    
    <style>
        table{
            text-align: center;
        }
        .wr_num{
            width: 50px;
        }
        .wr_title{
            text-align: left;
        }
        .wr_name{
            width: 100px;
        }
        .wr_wd{
            width: 100px;
        }
        .wr_rc{
            width: 50px;
        }

        .creat_post_btn{
            background-color: #f44336;
            color: white;
            padding: 7px 10px;
            font-size: 12px;
        }
        .creat_post_btn:link, .creat_post_btn:visited{
            color: white;
        }

    </style>
</head>
<body>
    <div class="content">
        <%- include('../partials/nav'); %>

        <div class="container mb-3">
            <h2 class="mb-3">Board</h2>

            <!-- 게시판 목록 -->
            <table class="table table-hover table-sm board-bottom">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="wr_num">번호</th>
                        <th scope="col" class="wr_title">제목</th>
                        <th scope="col" class="wr_name">이름</th>
                        <th scope="col" class="wr_wd">날짜</th>
                        <th scope="col" class="wr_rc">조회</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% board.forEach(function (item, index){ %>
                        <tr>
                            <td scope="row" class="wr_num"><%= item.num %></td>
                            <td class="wr_title"><a href="/board/<%= item.num %><%= getPostQueryString() %>"><%= item.title %></a></td>
                            <td class="wr_name"><%= item.name %></td>
                            <td class="wr_wd"><%= item.wd %></td>
                            <td class="wr_rc">
                                <% if (item.readcount > 9) { %>
                                    9+
                                <% }else{ %>
                                    <%= item.readcount %>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
                
            </table>

            <!-- 글쓰기 버튼, 페이지 버튼 -->
            <div class="row mb-3">
                <div class="col-2"></div>

                <nav class="col-8">
                    <% 
                        var offset = 2; 
                        var previousBtnEnabled = currentPage > 1; 
                        var nextBtnEnabled = maxPage > currentPage; 
                    %>

                    <ul class="pagination pagination-sm justify-content-center align-item-center h-100 mb-0">
                        <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
                            <a class="page-link" href="/board<%= getPostQueryString(false, {page: currentPage-1}) %>" <%= previousBtnEnabled?'':'tabindex=-1' %>> &#60;&#60; </a>
                        </li>
                        <% for(i=1; i<=maxPage; i++){ %>
                            <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
                                <li class="page-item <%= currentPage==i?'active':'' %>">
                                    <a class="page-link" href="/board<%= getPostQueryString(false, {page: i}) %>"> <%= i %> </a>
                                </li>
                            <% }else if(i==2 || i==maxPage-1){ %>
                                <li>
                                    <a class="page-link">...</a>
                                </li>
                            <% } %>
                        <% } %>
                        <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
                            <a class="page-link" href="/board<%= getPostQueryString(false, {page: currentPage+1}) %>" <%= nextBtnEnabled?'':'tabindex=-1' %>> &#62;&#62; </a>
                        </li>
                    </ul>
                </nav>

                <div class="col-2">
                    <% if(isAuthenticated){ %>
                        <a href="/board/creating_post<% getPostQueryString() %>" class="btn btn-danger btn-sm float-right" role="button">글 작성</a>
                    <% }; %>
                </div>
            </div>

            <!-- 표시될 게시물 수 설정-->
            <form method="GET">
                <!-- method를 get으로 하면 form 항목들이 query string으로 전달-->
                <div class="form-row">
                    <div class="form-grop col-3">
                        <label>Show</label>
                        <select name="limit" class="custom-select" onchange="this.parentElement.parentElement.parentElement.submit()">
                            <option value="5" <%= limit==5?'selected':'' %>>5 posts </option>
                            <option value="10" <%= limit==10?'selected':'' %>>10 posts </option>
                            <option value="20" <%= limit==20?'selected':'' %>>20 posts </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>