<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= data.title %></title>
    <%- include('../partials/head'); %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .blank{
            width: 12px;
            display: inline-block;
        }

        .board_btn{
            color: #fff !important;
            background-color: #333;
            padding: 2px 8px;
        }
    </style>
</head>
<body>
    <div class="content">
        <%- include('../partials/nav'); %>

        <div class="card border-light mb-3">
            <!-- 본문 헤드 -->
            <div class="card-header bg-transparent">
                <h1 class="text-info"><%= data.title %></h1>

                <div class="d-flex justify-content-between">
                    <span class="text-secondary">&nbsp;&nbsp;<%= data.name %></span>

                    
                    <form action="/board/delete/<%= data.num %>" method="GET">
                        <% if(isAuthenticated && currentUser.numid == data.author){ %>
                            <div class="btn-group btn-group-sm" role="group">
                                <a href="/board/edit/<%= data.num %><%= getPostQueryString() %>" class="btn btn-secondary" role="button">
                                    <i class="fa fa-pencil-square-o"></i>
                                    수정
                                </a>
                                <a href="#" onclick="confirm('삭제하시겠습니까?')?this.parentElement.parentElement.submit():null;" class="btn btn-secondary" role="button">삭제</a>
                            </div>
                        <% }; %>
                    </form>
                </div>
            </div>

            <!-- 본문 -->
            <div class="card-body">
              <%= data.content %>
            </div>

            <!-- 댓글 -->
            <div class="card-footer bg-transparent">
                <div class="d-flex justify-content-end">
                    <a href="/board<%= getPostQueryString() %>" class="board_btn ">
                        <i class="fa fa-bars"></i>
                        <span>목록</span>
                    </a>
                </div>
                
                <h4 class="mt-3">댓글</h4>

                <% if(comment.length){ %>
                    <div class="mt-3 border-bottom">
                        <% comment.forEach(function(item){ %>
                            <div class="border-top pt-1 pb-1">
                                <% if(item.isDeleted) { %>
                                    <div class="text-muted p-2">(삭제된 댓글)</div>
                                <% }else{ %>
                                <div class="row">
                                    <div class="col-3 col-mb-2 col-lg-1 pl-4"><%= item.username %></div>
                                    <div id="comment-<%= item.id %>" class="col-9 col-md-10 col-lg-11 <%= (commentError.id == comment.id)?'commnet-edit-enabled':'' %>">
                                        <!-- 댓글 -->
                                        <div class="comment-show">
                                            <div class="comment-text mb-1"><%= item.text %></div>
                                            <small class="d-block">
                                                (Created: <span data-date-time="<%= item.created %>"></span>
                                                <% if(item.update){ %>
                                                    | Update: <span data-date-time="<%= item.update %>"></span>
                                                <% } %>
                                                )
                                            </small>
                                            <% if(isAuthenticated && item.author && currentUser.numid == item.author){ %>
                                                <small class="d-block">
                                                    <a href="javascript:void(0)" onclick="$('.comment-reply-enabled').removeClass('commnet-reply-enabled'); $('.comment-edit-enabled').removeClass('comment-edit-enabled'); $('#comment-<%= item.id %>').addClass('comment-edit-enabled')">수정</a>
                                                    |
                                                    <form action="/comment/<%= item.id %>?boardId=<%= data.num %>&_method=delete<%= getPostQueryString(true) %>" method="POST" class="d-inline">
                                                        <a herf="javascript:void(0)" onclick="confirm('정말 삭제하시겠습니까?')?this.parentElement.submit():null;">삭제</a>
                                                    </form>
                                                </small>
                                            <% } %>
                                        </div>

                                        <!-- 댓글 폼 -->
                                        <div class="comment-edit">
                                            <%- include('./partials/comment-form', {
                                                actionUrl: '/comment/' + item.id + '?boardId=' + data.num + '&_method=put',
                                                comment: item,
                                                commentForm: commentForm,
                                                commentError: commentError,
                                            }); %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                <% } %>
                
                <!-- 댓글 작성 -->
                <div class="mt-3">
                    <%- include('./partials/comment-form', {
                        actionUrl:'/comment?boardId=' + data.num,
                        comment: {},
                        commentForm: commentForm,
                        commentError: commentError,
                      }); %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>